<div class="container-fluid" layout-fill>
    <md-card id="create-event-top" class="col-md-10 white">
        <md-content class="md-content-padding">

            <form name="eventCreation" ng-submit="eventCreation.$valid && createEvent(event.title, event.description, event.privacy)">
                <div layout="horizontal">

                    <h2>Title</h2>
                    <h1>{{$storage.eventId}}</h1>
                    <span flex></span>

                    <md-radio-group layout="horizontal" ng-model="event.privacy" class="pull-right" ng-pristine="test">

                        <md-radio-button ng-init="event.privacy = null" value="false" ng-class="{'md-checked': event.privacy === null}"><b>Public</b>
                        </md-radio-button>

                        <md-radio-button value="true"><b>Private</b>
                        </md-radio-button>
                    </md-radio-group>
                </div>

                <input type="text" class="form-control" placeholder="Your event's name" ng-model="event.title" required>

                <h2>Description</h2>

                <textarea type="text" class="form-control" placeholder="Optional..." ng-model="event.description"></textarea>
                <h2># Tags</h2>
                <h6>use spacebar to complete tag</h6>
                <input type="text" ng-model="event.tag" class="form-control" placeholder="add tag" ng-list="," ui-keypress="{'enter 39 32 186 187 188 189 190': 'pushTag($event, event.tag[0])'}">
                <br>
                <div ng-repeat="(key, tag) in tagsList" inline-block>
                	<div class="col-xs-1">
                		<button class="btn" type="button" ng-click="removeTag($index)">{{tag}}<i class="fa fa-close"></i></button>
                	</div>
                </div>
                <hr>
                
                <!-- <ui-select multiple ng-model="tagsList">
                    <ui-select-match placeholder="Select tags...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="tag in tagsList | filter:$select.search">
                        {{tag}}
                    </ui-select-choices>
                </ui-select> -->
                <h2>Colors</h2>

                <br>           
            </form>

            <md-divider></md-divider>

            <md-button class="pull-right md-button-colored" ng-class="{'md-button-raised': event.title}" ng-click="createEvent(event.title, event.description, event.privacy)">Create</md-button>

            <br>       
            <md-toolbar id="event-add-ons">

                <div class="md-toolbar-tools" layout="horizontal" layout-fill>
                    <md-button ng-click="eventTab = 'default'"><i class="fa fa-info-circle fa-2x"><span hide-sm>Event info</span></i>
                    </md-button>

                    <md-button ng-click="eventTab = 'times'"><i class="fa fa-clock-o fa-2x"><span hide-sm>Event Times</span></i>
                    </md-button>

                    <md-button ng-click="eventTab ='locations'"><i class="fa fa-map-marker fa-2x"><span hide-sm>Event Locations</span></i>
                    </md-button>

                    <md-button ng-click="eventTab='users'"><i class="fa fa-users fa-2x"><span hide-sm>Event Users</span></i>
                    </md-button>

                    <md-button ng-click="eventTab='money'"><i class="fa fa-dollar fa-2x"><span hide-sm>Money</span></i>
                    </md-button>
                    <md-button ng-click="eventTab = 'tags'"><i class="fa fa-tags fa-2x"><span hide-sm>#tags</span></i>
                    </md-button>
                    <md-divider></md-divider>
                </div>
            </md-toolbar>
            <div class="alert alert-info" role="alert" ng-show="eventId">This is a
                <span ng-switch="event.privacy">
                    <span ng-switch-when="true">
                        <strong>private</strong>event only people you specify</span>
                    <span ng-switch-default>
                        <strong>public</strong>event anyone</span>
                </span>can see the details below</div>
            <div layout="vertical" layout-fill>
                <md-content ng-switch="eventTab">
                    <section ng-switch-when="times">
                        <event-form-times></event-form-times>
                    </section>
                    <section ng-switch-when="locations">
                        <div ng-include="'views/event-form/locations.html'" scope="" onload=""></div>
                    </section>
                    <section ng-switch-when="users">
                        <div ng-include="'views/event-form/users.html'" scope="" onload=""></div>
                    </section>
                    <section ng-switch-when="money">
                        <div ng-include="'views/event-form/money.html'" scope="" onload=""></div>
                    </section>
                    <section ng-switch-when="tags">
                        <div ng-include="'views/event-form/tags.html'" scope="" onload=""></div>
                    </section>
                    <section ng-switch-default>
                        <event-form-info></event-form-info>
                    </section>
                </md-content>
            </div>

        </md-content>
    </md-card>

</div>
