<div id="event-card" layout="vertical">
    
    <material-toolbar>
        
        <div class="material-toolbar-tools"> 
        <div flex></div>      
            <div class="pull-right actions" layout="horizontal">
                
                <button class="btn btn-sm">
                     <i class="fa fa-share"></i>
                    re-nvent</button>
                
                <button class="btn btn-sm">
                     <i class="fa fa-star-o"></i>
                    star</button>
                
                <button class="btn btn-sm">
                     <i class="fa fa-close"></i>
                    close</button>
                </div>
            </div>
        </material-toolbar>

    
    <material-content class="material-whiteframe-z1">
        <h3>{{eventCard.title}}</h3>
        
        <p>This is the event-card view. test. swipe left to hide, swipe right to star/save</p>
        </material-content>
    
    <material-tabs>
        
        <material-tab>
            
            <material-tab-label>
                 <i class="fa fa-info-o"></i>
                info      </material-tab-label>
            </material-tab>
        
        <material-tab>
            
            <material-tab-label>
                <i class="fa fa-clock-o"></i>
                times
            </material-tab-label>
            </material-tab>
        <material-tab>
            <material-tab-label>
                <i class="fa fa-map-marker"></i>
                locations
            </material-tab-label>
        </material-tab>
        <material-tab>
            <material-tab-label>
                <i class="fa fa-users"></i>
                users
            </material-tab-label>
        </material-tab>
        <material-tab>
            <material-tab-label>
                <i class="fa fa-dollar"></i>
                money
            </material-tab-label>
        </material-tab>
        <material-tab>
            <material-tab-label>
                <i class="fa fa-tags"></i>
                #tags
            </material-tab-label>
        </material-tab>
        </material-tabs>
</div>
