<div id="event-card" layout="vertical" ng-class="{'md-whiteframe-z1': detailView || cardDetailView, detailed: detailView || cardDetailView}">

    <md-toolbar class="white event-toolbar" ng-click="cardDetailToggle()">
        <div class="md-toolbar-tools" layout="horizontal">
            <div class="catagory" ng-class="{'md-whiteframe-z1': hover}">
                <div class="svg-ic_android_24px"></div>
            </div>
            <div ng-hide="detailView" ng-class="{'svg-ic_expand_less_24px': cardDetailView, 'svg-ic_expand_more_24px': !cardDetailView}">
            </div>
            <h2 flex="20">{{eventCard.title | capitalize}}</h2>
            <span ng-show="detailView || cardDetailView" flex></span>
            <h2>{{eventTimes.startTime | date:'EEE, MMM d, h:mm a' }}</h2>
            <span ng-if="!detailView" ng-hide="cardDetailView" flex>{{eventCard.description | limitTo : 40}}</span>
            <div layout="horizontal" ng-mouseenter="cardSettingsOpen()" ng-mouseleave="cardSettingsClose()">
                <div ng-show="cardSettingsView" class="actions settings" layout="horizontal">

                    <md-button class="icon-button">
                        <i class="fa fa-retweet"></i>
                    </md-button>
                    <md-button class="icon-button">
                        <i class="fa fa-share-alt"></i>
                    </md-button>

                    <md-button class="icon-button">
                        <i class="fa fa-star-o"></i>
                    </md-button>
                    <span flex></span>
                    <md-button class="icon-button">
                        <i class="fa fa-eye-slash"></i>
                    </md-button>

                    <md-button class="icon-button" ng-click="removeEvent(key)">
                        <i class="fa fa-close"></i>
                    </md-button>
                </div>
                <md-button class="icon-button" ng-click="cardSettingsToggle()" >
                    <div class="svg-ic_more_vert_24px">
                    </div>
                </md-button>
            </div>
        </div>

    </md-toolbar>
    <md-divider></md-divider>


    <div class="card-body" ng-if="detailView || cardDetailView">
        <md-content class="md-content-padding">

            <p>This is the event-card view. test. swipe left to hide, swipe right to star/save</p>
            <p>{{eventCard.description}}</p>
            <h2 ng-show="eventInfo.notes">Notes</h2>
            <p>{{eventInfo.notes}}</p>
            <textarea ng-model="eventInfo.notes" class="form-control"></textarea>
            <div ng-show="eventTimes.startTime">
                <h2>Times</h2>
                <p>Start: {{eventTimes.startTime | date:'EEEE, MMM d, h:mm a y' }}</p>
                <p>End: {{eventTimes.end | date:'EEEE, MMM d, h:mm a y' }}</p>
            </div>
            <div ng-if="eventLocals.formatted_address">
                <h2>Locations</h2>
                <p>{{eventLocals.formatted_address}}</p>
            </div>

        </md-content>
        <ul class="nav nav-tabs" layout="horizontal" flex>
            <li flex>
                <md-button class="btn" flex><div class="svg-ic_info_24px"></div> info</md-button>
            </li>
            <li flex>
                <md-button class="btn" flex><div class="svg-ic_schedule_24px"></div> times</md-button>
            </li>
            <li flex>
                <md-button class="btn" flex><div class="svg-ic_map_24px"></div> locations</md-button>
            </li>
            <li flex>
                <md-button class="btn" flex><div class="svg-ic_group_24px"></div> people</md-button>
            </li>
            <li flex>
                <md-button class="btn" flex><div class="svg-ic_attach_money_24px"></div> money</md-button>
            </li>
            <li flex>
                <md-button class="btn" flex><div class="svg-ic_label_24px"></div> tags</md-button>
            </li>
        </ul>
    </div>
    <md-divider ng-if="!$last"></md-divider>
</div>
