<!-- <div id="map">

    <map></map>
</div> -->
<div ng-controller="MainCtrl">
    <md-content class="md-content-padding containter-fluid">

        <md-list class="col-xs-12 col-sm-12 col-md-11 col-lg-10" layout-fill inline-block>

            <md-item class="md-whiteframe-z1" ng-repeat="(index, eventCard) in eventsList | filter:eventSearch">
                <event-card eventIndex="{{index}}"></event-card>
            </md-item>
            
        </md-list>
        <!-- <div ui-scroll-viewport  style="height:500px;position:absolute;">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ui-scroll="item in datasource" buffer-size="5" padding="10" is-loading="scroll-loading">
                    <div>{{item}}test</div>
                </div>
            </div> -->
    </md-content>

</div>
