<div id="map">

    <map></map>
</div>
<material-content class="material-content-padding">

    <div class="containter-fluid" layout-fill inline-block>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" ng-repeat="(key, eventCard) in eventsList | filter:eventSearch">
            <event-card eventIndex="{{key}}"></event-card>
        </div>
    </div>
</material-content>


<div class="row marketing">

    <h4>Firebase</h4>

    <p>
        Firebase is a powerful API to store and sync data in realtime.    </p>


    <h4>HTML5 Boilerplate</h4>

    <p class="col-sm-5">
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    </p>


    <div>

        <h4>Angular</h4>

        <p>
            AngularJS is a toolset for building the framework most suited to your application development.        </p>


        <h4>Karma</h4>

        <p>Spectacular Test Runner for JavaScript.</p>

        <material-list>

            <material-item>

                <material-input-group>

                    <label for="title">Test</label>

                    <material-input id="title" ng-model="event.title"></material-input>
                </material-input-group>
            </material-item>

            <material-item>

                <material-input-group ng-disabled="user.isLocked">

                    <label for="i1">Description</label>

                    <material-input id="i1" ng-model="event.description"></material-input>
                </material-input-group>
            </material-item>
        </material-list>

    </div>

    <p class="col-sm-5">
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    </p>

    <br>   
    <p class="col-sm-5">
        HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    </p>
</div>
